[submodule "colors-schemas/gnome-terminal-colors-solarized"]
	path = colors-schemas/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "colors-schemas/dircolors-solarized"]
	path = colors-schemas/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/dot-dir/vim-pathogen"]
	path = vim/dot-dir/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
